header{
  background-color: #262626;
}
li{
  list-style: none;
}
a{
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
}

.navbar{
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.branding{
  font-size: 2rem;
}
.nav-link{
  transition: 0.7s ease;
}
.nav-link:hover{
  color: rgb(131, 251, 251);
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}
